<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Milky Way Coin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <table class="table">
                        <thread>
                            <tr>
                                <th>CRYPTOCURRENCY</th>
                                <th>GROWTH SCORE</th>
                                <th>PRICE</th>
                                <th>1DAY CHANGE</th>
                                <th>1WEEK CHANGE</th>
                                <th>1MONTH CHANGE</th>
                                <th>1YEAR CHANGE</th>
                                <th>ALART</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <th scope="row"><a href="/crypto/1">Bitcoin</a></th>
                                    <td>XX</td>
                                    <td>$7874.44</td>
                                    <td>7.78%</td>
                                    <td>17.18%</td>
                                    <td>57.72%</td>
                                    <td>237.02%</td>
                                    <td>NO</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a href="/crypto/2">Ethereum</a></th>
                                    <td>YY</td>
                                    <td>$7874.44</td>
                                    <td>17.78%</td>
                                    <td>37.18%</td>
                                    <td>127.72%</td>
                                    <td>537.02%</td>
                                    <td>YES</td>
                                </tr>
                            </tbody>
                        </thread>
                    </table>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
